@using Umbraco.Cms.Core.Models
@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.ArticlePage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Master.cshtml";

}

<div class="container-fluid article-page pt-md-5" style="background-color: @Model.BgColor">
    <div class="container wrapper">
        <div class="row section">
            <div class="col-md-12">
                @if (Model.ImageHero != null)
                {
                    <img class="secondary-hero-image" src="@Model.ImageHero.Url()" style="max-width: @(Model.WidthDesktop)px"/>
                }
                @if (!string.IsNullOrWhiteSpace(Model.TextHeading))
                {
                    <h1 class="heading">@Model.TextHeading</h1>
                }
                @if (Model.ImgFloatRight != null)
                {
                    var image = Model.ImgFloatRight as MediaWithCrops<Image>;

                    <img src="@Model.ImgFloatRight.Url()" alt="@image?.Content.AltText" class="float-end img-fluid hero-float" />
                }
                @if (Model.RteBody != null && !string.IsNullOrWhiteSpace(Model.RteBody.ToString()))
                {
                    <div class="rte">@Model.RteBody</div>
                }
            </div>
        </div>
    </div>
</div>