@using Umbraco.Cms.Core.Models
@using Umbraco.Cms.Core.Models.Blocks;
@using Umbraco.Cms.Web.Common.PublishedModels;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

@inherits UmbracoViewPage<BlockListItem>

@{
    var component = (ContentModels.BlockStories)Model.Content;

    var homePage = Umbraco.AssignedContentItem.AncestorOrSelf<StartPage>();
    var storiesPage = homePage.DescendantOfType("whoWeArePage");
    var contentStories = (ContentModels.WhoWeArePage)storiesPage;
    var i = 1;
}

<div class="container-fluid">
    <div class="container">
        <div class="row section">


            @if (@component.TextTitle != null)
            {
                <h1 class="text-center mb-5">@component.TextTitle</h1>
            }

            @{
                var storyCollection = contentStories?.Value<IEnumerable<BlockListItem>>("blocklistStory");
                IEnumerable<BlockListItem> stories = storyCollection != null ? storyCollection.Take(4) : Enumerable.Empty<BlockListItem>();
            }

            @foreach (var story in stories)
            {
                
                var contentStory = (ContentModels.CompStory)story.Content;
                <div class="col-md-3">
                    @if (contentStory.Image != null)
                    {
                        var imageUrl = contentStory.Image.GetCropUrl("standard");
                        var image = contentStory.Image as IPublishedContent;
                        var altText = image.HasValue("altText") ? image.Value<string>("altText") : string.Empty;

                        if (!string.IsNullOrWhiteSpace(imageUrl))
                        {
                            <img src="@imageUrl" alt="@altText" class="img-fluid text-center mx-auto d-block mb-4" />
                        }
                    }
                    @if (!string.IsNullOrWhiteSpace(contentStory.TextPresentation))
                    { 
                        <h3>@contentStory.TextPresentation</h3>
                    }

                    @if (!string.IsNullOrWhiteSpace(contentStory.TextTeaser))
                    {
                        <p>@contentStory.TextTeaser <a href="@($"{contentStories?.Url()}#story{i}")"><span class="read-more">  Läs mer</span></a></p>
                    }
                </div>

                i++;
            }
        </div>
    </div>
</div>