@using Umbraco.Cms.Core.Models.Blocks;
@inherits UmbracoViewPage<BlockListItem>

@{
    var component = (BlockTextImage)Model.Content;
    var textColor = component.TextColor ? "text-white" : "text-black";
}

<div class="container-fluid @textColor" style="background-color: @component.ColorBg">
    <div class="container">
        <div class="row section">
            <div class="col-md-8">
                @if (!string.IsNullOrWhiteSpace(component.TextHeading))
                {
                    <h2>@component.TextHeading</h2>
                }
                @if (component.RteBody != null && !string.IsNullOrWhiteSpace(component.RteBody.ToString()))
                {
                    <div class="rte">@component.RteBody</div>
                }

                @if (component.LinkBtnAbout != null && !string.IsNullOrEmpty(component.LinkBtnAbout.Url) && !string.IsNullOrEmpty(component.LinkBtnAbout.Name))
                {
                    <a href="@component.LinkBtnAbout.Url" class="btn button-primary mb-4" role="button" target=@component.LinkBtnAbout.Target>@component.LinkBtnAbout.Name</a>
                }

            </div>
            <div class="col-md-4">
                @if (component.ImageSingle != null)
                {
                    var imageUrl = component.ImageSingle.GetCropUrl("standard");
                    if (!string.IsNullOrWhiteSpace(imageUrl))
                    {
                        <img src="@imageUrl" class="img-fluid text-center mx-auto d-block" />
                    }
                }
            </div>
        </div>
    </div>
</div>