@using Umbraco.Cms.Core.Models
@using Umbraco.Cms.Core.Models.Blocks;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@inherits UmbracoViewPage<BlockListItem>

@{
    var component = (BlockThreeCards)Model.Content;
}

<div class="container">
    <div class="row section">
        <div class="col-md-12">
            @if (!string.IsNullOrWhiteSpace(component.TextHeadingCards))
            {
                <h1>@component.TextHeadingCards</h1>
            }
        </div>

        @{
            var cards = component.Value<IEnumerable<BlockListItem>>("blocklistCards") ?? Enumerable.Empty<BlockListItem>();
        }

        @foreach (var card in cards)
        {
            var content = (ContentModels.CompNewsCard)card.Content;
            var link = content.LinkCard as Link;

            <div class="col-md-4">
                <div class="box-blog">


                    @if (link != null && !string.IsNullOrWhiteSpace(link.Url))
                    {
                        <a href="@link.Url" target=@link.Target>
                            @if (content.Image != null && !string.IsNullOrWhiteSpace(content.Image.Url()))
                            {
                                <div class="blog-promoImage" style="background-image: url('@content.Image.Url()');"></div>
                            }
                        </a>
                    }
                    @if (!string.IsNullOrWhiteSpace(content.TextHeading))
                    {
                        <h5>@content.TextHeading</h5>
                    }
                    @if (!string.IsNullOrWhiteSpace(content.StringDate))
                    {
                        <p class="blog-meta">@content.StringDate</p>
                    }
                    @if (!string.IsNullOrWhiteSpace(content.TextString))
                    {
                        <p>@content.TextString</p>
                    }
                    
                </div>
                @if (link != null && !string.IsNullOrWhiteSpace(link.Url))
                {
                    <a href="@link.Url" target="@link.Target" class="btn btn-inverted">Läs mer</a>
                }
            </div>
        }

    </div>
</div>